# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Numby
2. Panda
3. Matplotlib
4. Anaconda

| Data Science Tools |
| ------------------ |
| 1. TensorFlow |
| 2. MangoDB |
| 3. Apache SparkSQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [148]:
## This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [150]:
## This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- SQL
- Python
- R

## Author

Sergiy Tsyba